body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f4f8; /* Azul claro */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3498db; /* Azul */
    color: white;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Branco */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e74c3c; /* Vermelho */
}

p {
    line-height: 1.6;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f39c12; /* Amarelo */
    color: white;
}
