/* Reset de estilos */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Branco */
    color: #333; /* Cor principal do texto */
}

/* Estilos do cabeçalho */
header {
    background-color: #4285f4; /* Azul do Google */
    color: #fff;
    text-align: center;
    padding: 1em;
    transition: background-color 0.3s ease-in-out;
}

header:hover {
    background-color: #3a77cb; /* Tom mais escuro de azul */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00; /* Amarelo */
}

/* Estilos das seções */
section {
    padding: 40px;
}

.jumbotron {
    background-color: #f8f9fa; /* Tom mais claro de azul para contraste */
    padding: 20px;
    border-radius: 10px;
    color: #333; /* Cor principal do texto */
    transition: background-color 0.3s ease-in-out;
}

.jumbotron:hover {
    background-color: #e6e8eb; /* Tom mais escuro para o jumbotron durante o hover */
}

/* Estilos dos membros */
.members-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px; /* Adicione margem negativa para compensar a margem interna */
}

.member-card {
    width: calc(25% - 10px);
    margin: 10px; /* Adicione margem para separação entre os membros */
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #fff; /* Branco */
}

.member-card:hover {
    transform: scale(1.05);
}

.member-card img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.member-card:hover img {
    transform: scale(1.2);
}

.member-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #4285f4; /* Azul do Google */
    transition: all 0.3s ease-in-out;
}

.member-card:hover h3 {
    color: #ffcc00; /* Amarelo */
}

.member-card p {
    color: #555;
    transition: all 0.3s ease-in-out;
}

.member-card:hover p {
    color: #777;
}

/* Estilos dos eventos */
.events-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px; /* Adicione margem negativa para compensar a margem interna */
}

.event-card {
    width: calc(25% - 10px);
    margin: 10px; /* Adicione margem para separação entre os eventos */
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #fff; /* Branco */
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.event-card:hover img {
    transform: scale(1.2);
}

.event-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #e90303; /* Vermelho */
    transition: all 0.3s ease-in-out;
}

.event-card:hover h3 {
    color: #ffcc00; /* Amarelo */
}

.event-card p {
    color: #555;
    transition: all 0.3s ease-in-out;
}

.event-card:hover p {
    color: #777;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

footer:hover {
    background-color: #552fff34; /* Tom mais escuro de cinza durante o hover */
}
html {
    scroll-behavior: smooth;
}

/* Adicione mais estilos conforme necessário */
