/* Reset de estilos */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos das seções */
section {
    padding: 40px;
}

.jumbotron {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos dos membros */
.members-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px; /* Adicione margem negativa para compensar a margem interna */
}

.member-card {
    width: calc(25% - 10px);
    margin: 10px; /* Adicione margem para separação entre os membros */
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.member-card:hover {
    transform: scale(1.05);
}

.member-card img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.member-card:hover img {
    transform: scale(1.2);
}

.member-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.member-card:hover h3 {
    color: #ff5733;
}

.member-card p {
    color: #555;
    transition: all 0.3s ease-in-out;
}

.member-card:hover p {
    color: #777;
}

/* Estilos dos eventos */
.events-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px; /* Adicione margem negativa para compensar a margem interna */
}

.event-card {
    width: calc(25% - 10px);
    margin: 10px; /* Adicione margem para separação entre os eventos */
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.event-card:hover img {
    transform: scale(1.2);
}

.event-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.event-card:hover h3 {
    color: #ff5733;
}

.event-card p {
    color: #555;
    transition: all 0.3s ease-in-out;
}

.event-card:hover p {
    color: #777;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

@media (max-width: 768px) {
    /* Estilos para dispositivos menores que 768px de largura */
    .member-card, .event-card {
        width: calc(50% - 10px);
    }
}
